{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ok</title>

</head>
<body>

<h1>test page1</h1>
{% comment %}<h3>{{ good }}</h3>{% endcomment %}


{% comment %}<table border="1">
    <tr>
        <th>name</th>
        <th>version</th>
        <th>state</th>
        <th>create</th>
    </tr>
    {% for item in  data %}
        <tr>
            <td>{{ item.group_name }}</td>
            <td>{{ item.explanation }}</td>
        </tr>
    {% endfor %}
    {% for item in  group_user_count %}
        <tr>
            <td>{{ item.group_name }}</td>
            <td>{{ item.explanation }}</td>
        </tr>
    {% endfor %}
</table>{% endcomment %}

    {% comment %}{% for k,v in  context.group_user_count.items %}
        <tr>
            <td>k</td>
            <td>v</td>
        </tr>
    {% endfor %}{% endcomment %}



{% comment %}<p>{{ detail.project_name }}</p>
<p>{{ detail.deploy_address }}</p>{% endcomment %}
{% comment %}{% for k,v in content %}
    <p>{{ k }}</p>
    <p>{{ v }}</p>
{% endfor %}
++++++++++++++{% endcomment %}

{% for item in  content %}
    {#    <h1>{{ results }}</h1> #}
    {% comment %}<p>{{ item }}</p>{% endcomment %}

    {% for k,v in  item.items  %}
        <p>{{ k }}</p>
        <p>{{ v.user_list }}</p>
        <p>{{ v.department_id }}</p>

        {% for i in v.user_list %}
            <p>{{ i }}</p>
        {% endfor %}

        {% endfor %}



{% endfor %}






{% comment %}p>{{ results.username }}</p>{% endcomment %}
{% comment %}<p>{{ results.svn_address }}</p>
<p>{{ results.relation_person }}</p>
<p>{{ results.test_address }}</p>
<p>{{ results.deploy_address }}</p>
<p>{{ results.description }}</p>
<p>{{ status }}</p>
<p>{{ status }}</p>
<p>{{ status }}</p>{% endcomment %}

{% comment %}{{ form| bootstrap_horizontal }}{% endcomment %}


</body>
</html>